@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-semibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url(../fonts/gilroy-regular.ttf);
    font-weight: 400;
}

.header .wrapper-top {
    background-color:#20242D;
}
.header .address{
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
;
}
header .contacts a{
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}
.header .wrapper-bottom {
    background-color: #FFFFFF;
}
.header .navigation a{
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #20242D;
    ;
    text-decoration: none;
}
.header .navigation .active {
    color: #FF7129;
}
.start-screen .main-title {
    font-size: 92px;
    font-style: normal;
    font-weight: 700;
    line-height: 111px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}
.start-screen .slogan {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF7129;
    color: #FFFFFF;
}
.start-screen .btn {
    background: #FF7129;
box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
}
.start-screen .btn-scroll {
    background: #7B7E85;
    opacity: 0.4;
}
